<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/philosophy.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div class="header">
		<h1>UpStarted.com</h1>
	

	
		 <div class="dropdown" id="navigation">
		    <button class="navigation" type="button" data-toggle="dropdown">Menu
		    <span class="glyphicon glyphicon-align-justify"></span></button>
		    <ul class="dropdown-menu pull-center">
		      <li><a href="/index">Main</a></li>
		      <li><a href="/contact">Contact Us</a></li>
		      <li><a href="/philosophy">Our Philosophy</a></li>
		      <li><a href="/testimonials">Testimonials</a></li>
		    </ul>
	  	</div>
	  </div>
	
	<div class="navigation">

	</div>

<div id="mainbody_phil">
	<h1> Our Philosophy</h1>
	<div class="columns">
		<h1> Our Advisors</h1>
			<p> Here at UpStarted.com we pride ourselves on matching our clients background to an appropriate area in business. If you want to start a business, but don't have  a fully formed idea, we can help you turn it into a coherent business strategy. Our advisers have decades of experience in the financial sector, technology, the web, and e-commerce. Most of them have either been a part of, owned, or still own a successful startup venture. Rest assured, they are the best at what they do.</p>
	</div>
	<div class="columns">
		<h1> Be Technical</h1>
			<p> We firmly believe that one of the keys to having a successful business is to have a solid technical foundation. An amateur website simply won't cut it anymore. With e-commerce being the primary way people conduct business now, you will need a robust website with a strong front-end reinforced up by a solid back-end. Store fronts with a strong and secure database backing them up are key. People's payment information is something that cannot be handled lightly.</p>
	</div>
	<div class="columns" id="last">
		<h1>  It's About You</h1>
			<p> In order to match you with a business that fits you, we need to know as much aboutyou as possible. Don't be shy when you fill out our form. Let us know everything! One on one meetings with our expert advisors will be even more all-encompassing. The more we know, the better the fit will be.</p>
	</div>

	<div id="phil_img">
		<img src="images/advisor_ed.jpg">
	
	</div>
</div>
<div class="footer">
	<footer>
		<p>Developed by: The start up team</p>
		<p>Contact us at: support@startup.com</p>
			<p><a href="http://www.facebook.com"><i id="facebook" class="fa fa-facebook-official"></i></a></p>
			<p><a href="http://www.twitter.com"><i id="twitter" class="fa fa-twitter-square"></i></a></p>
		
	</footer>

</body>
</html>
