<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- <script src="main.js"></script> -->
	<script src="js/form.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<div class="header">
		<h1> UpStarted.com</h1>
	

	
		 <div class="dropdown" id="navigation">
		    <button class="navigation" type="button" data-toggle="dropdown">Menu
		    <span class="glyphicon glyphicon-align-justify"></span></button>
		    <ul class="dropdown-menu pull-center">
		      <li><a href="/index">Main</a></li>
		      <li><a href="/contact">Contact Us</a></li>
		      <li><a href="/philosophy">Our Philosophy</a></li>
		      <li><a href="/testimonials">Testimonials</a></li>
		    </ul>
	  	</div>
	  </div>

	<div class="testimonial_main">
		<h1>Testimonials</h2>
		<img src="images/testimonial1_ed.jpg" alt="test1">
		<h2>John and Barbara Fox <em>"The Corner Store"</em></h2>
		<p>UpStarted.com really helped us get going on our dream of owning our own shop. Their staff were very knowledgable and experienced, and seemed very enthusiastic about helping us get off the ground. After two years of work "The Corner Store" turned a profit for the first time last year and this year is looking to be even better! We couldn't have done it without UpStarted.com.</p>

		<img src="images/testimonial2_ed.jpg" alt="test1">
		<h2>Phil Connors <em>"ElectroParts"</em></h2>
		<p>I've always enjoyed tinkering with electronics, but never thought of making business out of it until UpStarted.com suggested it! "ElectroParts" supplies niche electronic components all over the country and specializes in hobbiest like me. Thanks to UpStarted.com, I've managed to turn something I love into a successful business.</p>

		<img src="images/testimonial3_ed.jpg" alt="test1">
		<h2>Ben Batra <em>"Big Ideas, Inc."</em></h2>
		<p>As a forty year old father of three, I thought big changes, and big dreams, were behind me. I decided to take a shot on UpStarted.com, and a year later, my mobile app startup is launching its first big product. It's been a lot of work, but I finally feel like I am doing somthing meaningful with my career. It's never too late to dream big. Take a chance on UpStarted.com, like I did and you won't regret it.</p>
	
	</div>
<div class="footer">
<p>footer</p>
	</div>

</body>
</html>
