.header {
	height: 8em;
	background-color: rgba(0,0,0,.3);
	width: 70em;
	float: left;
	text-align: center;

}
.header h1 {
	font-size: 60px;
	color: white;
}

.navigation {
	height: 8em;
	background-color: black;
	opacity: .3;
	float: right;
	width: 5em;
}

body {
	background-image: url('/images/happybusiness_ed.jpg');
	background-repeat: no-repeat;

}

.mainbody {
	float:left;
	height: 50em:;
	width: 55em;
	background-color: rgba(0,0,0,.3);
	margin-top: 10em;
	margin-left: 2em;
	margin-bottom: 1em;
}

.mainbody h1, p {
	color: white;

}

.footer {
	height: 6em;
	background-color: red;
	clear:both;
	margin-top: 1em;

}

