.header {
	height: 7em;
	background-color: #171d26;
	width: 100%;
	/*float: left;*/
	text-align: center;


}
.header h1 {
	font-size: 60px;
	color: white;
	font-family: 'Bitter', serif;
	

}

#navigation {
	height: 7em;
	float: right;
	width: 5em;
	padding-top: 3em;
	margin: -5em 6em 0 0;
}
#navigation button {
	background: rgba(0,0,0,.00);
	border-style: none;
	color: white;
	width: 6em;
	font-size: 20px;
}
.dropdown-menu {

}

body {
	background-image: url('/images/happybusiness_ed.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	height: 1080px;
	position: relative;


}

.mainbody {
	float: left;
	height: 35em:;
	width: 40em;
	background-color: rgba(0,0,0,.1);
	margin-top: 10em;
	margin-left: 2em;
	margin-bottom: 1em;
}

.mainbody h1, .mainbody p {
	color: white;

}

.footer {
	height: 6em;
	clear:both;
	margin-top: 1em;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #171d26 ;	
	text-align: center;
	vertical-align: middle;
	line-height: 6em;
} 

.footer p {
	display: inline-block;
	margin-right: 60px;

}

#contact_form {
	height: 50em;
	width: 100%;
	background-color: #171d26 ;
	margin: 0 auto;
	margin-top: 3em;
	padding: 2em;
	font-family: 'Bitter', sans-serif;

}
#contact_form h1, p  {
	color:white;
}
#contact_form h1 {
	text-align: center;
}

#acknowledgment{
	font-size: 100px;
	text-align: center;
	color: white;
	vertical-align: middle;
	line-height: 600px;
}
.footer i {
 	font-size: 40px;
 }

 #facebook {
 	color:#3B5998;
 }

 #twitter {
 	color:#4099FF;
 }

 #slideshow { 
    margin: 50px auto; 
    position: relative; 
    left:30px;
	width: 490px; 
    height: 320px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.0); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow_wrapper {
	float:right;
}


